
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
  padding-top: 64px;
}

$color-white: #fff;
$a-color: #666;

a, a:focus, a:hover {
    text-decoration: none;
    color: $a-color;
}

nav {
    height: 64px;
    background: $color-white;
    border-bottom: 2px solid #eee;
    &.navbar {
      padding: 0 64px;
    }

    .navbar-heading {
      margin: 0;
    }
}

.fa-icon {
  width: auto;
  height: 1em; /* or any other relative font sizes */

  /* You would have to include the following two lines to make this work in Safari */
  max-width: 100%;
  max-height: 100%;
}

.vue-avatar--wrapper {
  margin: 0 auto;
}